*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    height: 100vh; /*Height use for body color as linear gradient use */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.application{
    background-image: linear-gradient(to left bottom, #ffdd3b, #ffa043, #ff5a7d, #ff37c4, #8d5cff);
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 6px;
}
.heading{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}
.buttons{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;  
}
.btn{
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 1rem;
}
#value{
    margin-top: 1.5rem;
    font-size : 2.5rem;
    font-weight: 600;
}
.btn:hover{
    color: white;
    background-color: #80ff00;
}